<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ambulance Alert System</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

  <div class="home-container">
    <h1>Welcome to Ambulance Alert System</h1>
    <p>Helping ambulances reach faster with smart technology</p>

    <div class="login-buttons">
        <a href="/login" class="btn">User Login</a>
        <a href="/signup" class="btn">User Signup</a>
    </div>
  </div>

</body>
</html>
